h1{
    color: rgb(69, 142, 236);
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
}

button{
    border-radius: 100px;
}

nav{
    width: 100%;
    background-color: rgb(37, 155, 235);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    display: inline;
}

li a{
    display: block;
    padding: 8px;
}

footer{
    background-color: rgb(71, 71, 226);
}