
:root{
    --darkColour: rgb(5, 5, 5);
    --lightColour: rgb(31, 30, 30);
    --bodyText: white;
    --highlightText: cyan;
}

body{
    margin: 0;
    padding: 0;
}
button{
    border-radius: 100px;
}
main{
    
    height: 85vh;
    color: var(--bodyText);
    background-color: var(--lightColour);
    background-size: 100%;
    margin: 0px;
}
p{
    margin: 0px;
}

/* Style for header*/
header{
    height: 5vh;
    min-height: 25px;
    color: var(--highlightText);
    background-color: var(--darkColour);
    display: flex;
    justify-content: center;
    font-size: 25px;
}

/*style for footer*/
footer{
    color: var(--highlightText);
    background-color: var(--darkColour);
    height: 5vh;
    margin-top: 0px;
}


/*Style for nav bar*/
nav{
    height: 5vh;
    min-height: 25px;
    width: 100%;
    background-color: var(--darkColour);
}
nav button{
    background-color: var(--highlightText);
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
nav button:hover{
    background-color: rgb(233, 64, 149);
}
nav button a,a:visited{
    color: black;
    text-decoration: none;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0px;
}
nav li{
    display: inline;
}
nav li a{
    display: block;
    padding: 8px;
}

/*Style for game page*/
.gameSection h1{
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.gameSection p{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
}
.gameSection button{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 80px;
}
.gameButton{
    background-color: rgb(151, 192, 240);
}
.gameButton:hover{
    background-color: rgb(26, 218, 243);
    border-color: rgb(26, 218, 243);
}

.resetButton{
    background-color: rgb(204, 55, 55);
}
.resetButton:hover{
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

.checkButton{
    background-color: rgb(80, 136, 80);
}
.checkButton:hover{
    background-color: rgb(26, 204, 26);
    border-color: rgb(26, 204, 26);
}