:root{
    --darkColour: rgb(10, 10, 10);
    --lightColour: rgb(31, 30, 30);
    --bodyText: white;
    --highlightText: cyan;
    --secondaryHighlight: rgb(9, 50, 138);
}

@font-face {
  font-family: 'W95FA';
  src: url(../src/lib/fonts/W95FA.otf) format("opentype");
}

body{
    font-family: "W95FA";
    margin: 0;
    padding: 0;
}
button{
    border-radius: 100px;
    font-family: "W95FA";
}
p{
    margin: 0px;
}
.container{
  max-width: 50vw;
    animation-name: slide-in;
    animation-duration: 1s;
  }
  @keyframes slide-in{
    from{
      transform: translateY(-200%);
    }
    to{
      transfrom: translateY(0%);
    }
  }